{% extends "base.html" %}
{% load static %}

{% block page_header %}

    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<main id="nav-body" data-spy="scroll" data-target="#link-target" data-offset="164">
    <div class="container">
        <!--  Hero image-->
        <img class="card-img-top img-fluid mx-4" src="media/header-image.png" alt="hero image">
        
        <!--  4 cards section-->
        <div class="row background-grey px-3 py-3 my-1 ">
            <nav class="card-deck" id="link-target">
                <a class="card-links scroll-link " href="#gethired-section">
                <div class=" col-12 col-sm-12 col-md-3 col-lg-3 card shadow p-3 bg-white rounded"> 
                        <h5 class="card-header text-center">Get hired</h5>
                        <div class="card-img-top text-center pt-3 logo-font">
                            <img class="card-img-top img-fluid icon-size" src="media/recruitment.png" alt="forum card image"> 
                        </div>
                        <div class="card-body">
                            <p class="card-text">Upload your career profile today and be found by subscribed hiring managers </p>
                        </div>
                    </a>
                </div>
         
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 card shadow p-3 bg-white rounded">
                    <a class="card-links scroll-link" href="#forum-section">
                        <h5 class="card-header text-center">Forum</h5>
                        <div class="card-img-top text-center pt-3 logo-font">
                            <img class="card-img-top img-fluid icon-size" src="media/forum-card.png" alt="forum card image"> 
                        </div>
                        <div class="card-body">
                            <p class="card-text">Join the conversation in our community for junior software developers looking to get hired fast</p>
                        </div>
                    </a>
                </div>
               
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 card shadow p-3 bg-white rounded">
                    <a class="card-links scroll-link" href="#growth-hub-section">
                        <h5 class="card-header text-center">Growth hub</h5>
                        <div class="card-img-top text-center pt-3 logo-font">
                            <img class="card-img-top img-fluid icon-size " src="media/enablement.png" alt="enablement card image"> 
                        </div>
                        <div class="card-body">
                            <p class="card-text">Power your potential with our selection of enablement courses, mentor programmes and events in our growth hub shop
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 card shadow p-3 bg-white rounded">
                    <a class="card-links" href="#talent-center-section">
                        <h5 class="card-header text-center">Talent Center</h5>
                        <div class="card-img-top text-center pt-3 logo-font">
                            <img class="card-img-top img-fluid icon-size " src="media/talent-card.png" alt="talent card image"> 
                        </div>
                        <div class="card-body">
                            <p class="card-text">Employers find the best fresh Talent hot off the press before they're snatched up in our talent center
                            </p>
                        </div>
                    </a>
                </div>
            </nav>
        </div>
        
        <!-- divider image-->
        <img class="card-img-top img-fluid my-4" src="media/software-developer.png" alt="software developer image">
        <hr class="solid mx-5">

        <!--Get hired section-->
 
        <div id="gethired-section">
            <div class="container mt-4 text-center ">
                <h2 >Get hired</h2>
                <div class="row align-items-center mt-4">
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 mx-auto">
                        <img class="card-img-top img-fluid icon-size" src="media/network.png" alt="network image"> 
                        <div class="card-body">
                            <p class="card-text">Create your personal brand</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 mx-auto">
                        <img class="card-img-top img-fluid icon-size" src="media/cv-gethired.png" alt="Get hired image"> 
                        <div class="card-body">
                            <p class="card-text">Showcase skills and CV</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 mx-auto ">
                        <img class="card-img-top img-fluid icon-size" src="media/headhunter.png" alt="headhunted image"> 
                        <div class="card-body">
                            <p class="card-text">Get headhunted</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center py-4 my-4 background-grey">
                <h4 class="mx-4">Create your profile and upload your CV </h4>  
                <button type="button" class="btn btn-dark ">Start now</button>
            </div>
        </div>

        <!-- divider image-->
        <hr class="solid mx-5">
        <img class="card-img-top img-fluid my-4" src="media/jnrdev.png" alt="software developer image">
        <hr class="solid mx-5">    

        <!--Forum section-->
        <div id="forum-section">
            <div class="container mt-4 text-center ">
                <h2>Join the forum and start connecting with developers today</h2>
                <div class="card-deck mt-4">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                        <img class="card-img-top img-fluid icon-size" src="media/communities.png" alt="Communities image"> 
                        <div class="card-body">
                            <p class="card-text">Expand your network</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                        <img class="card-img-top img-fluid icon-size " src="media/training.png" alt="training image"> 
                        <div class="card-body">
                            <p class="card-text">Share knowledge</p>
                        </div>
                    </div>
                
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                        <img class="card-img-top img-fluid icon-size " src="media/interview.png" alt="interview image"> 
                        <div class="card-body">
                            <p class="card-text">Discuss interview tips and tricks</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                        <img class="card-img-top img-fluid icon-size " src="media/engagement.png" alt="engage image"> 
                        <div class="card-body">
                            <p class="card-text">Engage with your peers</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center py-4 my-4 background-grey">
                <h4 class="mx-4">Explore the room topics and join the conversation </h4>  
                <a href="{% url 'forum'%}" class="btn btn-dark btn-white-txt" role="button" aria-pressed="true">Chat now</a>
            </div>
        </div>

        <!-- divider image-->
        <hr class="solid mx-5">
        <img class="card-img-top img-fluid my-4" src="media/jnrdev3.png" alt="software developer image">
        <hr class="solid mx-5">

        <!--Growth hub section-->
        <div id="growth-hub-section">
            <div class="container mt-4 text-center ">
                <h2 class="text-center">Visit the Growth Hub Shop</h2>     
                <div class="card-deck mt-4">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 mx-auto">
                        <img class="card-img-top img-fluid icon-size" src="media/online-course.png" alt="courses images"> 
                        <div class="card-body">
                            <p class="card-text">Courses</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 mx-auto">
                        <img class="card-img-top img-fluid icon-size" src="media/mentor.png" alt="Mentorships image"> 
                        <div class="card-body">
                        <p class="card-text">Mentorships</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 mx-auto">
                        <img class="card-img-top img-fluid icon-size" src="media/resume.png" alt="cv writing image"> 
                        <div class="card-body">
                        <p class="card-text">CV Writing</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 mx-auto">
                        <img class="card-img-top img-fluid icon-size" src="media/event.png" alt="events image"> 
                        <div class="card-body">
                        <p class="card-text">Events</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center py-4 my-4 background-grey">
                <h4 class="mx-4">Visit our Growth Hub Shop and power your potential with our selection of courses, mentor programmes, tools and events</h4>  
                <a href="{% url 'products'%}" class="btn btn-dark btn-white-txt" role="button" aria-pressed="true">Shop now</a>
            </div>
        </div>
        
        <!-- divider image-->
        <hr class="solid mx-5">
        <img class="card-img-top img-fluid my-4" src="media/mentor-img.png" alt="mentor image">
        <hr class="solid">
    
        <!--Talent Center section-->
        <div id="talent-center-section">
            <div class="container mt-4 text-center ">
                <h2>Hiring Managers</h2>
                <div class="card-deck mt-4">
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 mx-auto">
                        <img class="card-img-top img-fluid icon-size" src="media/subscribe.png" alt="subscribe image"> 
                        <div class="card-body">
                            <p class="card-text">Subscribe to discover new talent first</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 mx-auto">
                        <img class="card-img-top img-fluid icon-size" src="media/talent-search.png" alt="Find Talent image"> 
                        <div class="card-body">
                            <p class="card-text">Headhunt</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 mx-auto ">
                        <img class="card-img-top img-fluid icon-size" src="media/contact.png" alt="Contact image"> 
                        <div class="card-body">
                            <p class="card-text">Contact candidates</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center py-4 my-4 background-grey">
                <h4 class="mx-4">Subscribe to Junior Dev Talent to find your next superstar</h4>  
                <button type="button" class="btn btn-dark ">Learn more</button>
            </div> 
        </div>
        
        <!-- divider image-->
        <hr class="solid">
        <img class="card-img-top img-fluid mb-4 mt-4" src="media/talent.png" alt="software developer image divider">
    </div>          
</main>

   
{% endblock %}
