{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div>
        <div class="header-section text-center">
            <div class="container ">
                <div class="py-5 title">
                    <h1>Account Details </h1>  
                </div>
            </div>
        </div>
        <div class="text-center mt-2">
            {% if request.user.user_profile.is_hiring_manager %}
            {% else %}
                <a href="{% url 'display_profile' %}" class="text-center footer-links"><h5>My profile</h5></a>
            {% endif %}
            <a href="{% url 'edit_account' %}" class="text-center footer-links"><h5>Edit Account details</h5></a>
        </div>
        <div class="row mx-2 my-4">
            <div class="col-12 col-lg-6 background-grey ">
                <h3 class="reduce-font-size font-weight-bold mt-2">Default Billing Information</h3>
                <div class="table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h5 class="font-weight-bold reduce-font-size">Full Name</h5>
                                </td>
                                <td>
                                {% if profile.default_full_name %}
                                    <h5 class="reduce-font-size">{{profile.default_full_name}}</h5>
                                {% else %}
                                    <h5></h5>
                                {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="font-weight-bold reduce-font-size">Address 1</h5>
                                </td>
                                <td>
                                {% if profile.default_street_address1 %}
                                    <h5 class="reduce-font-size">{{profile.default_street_address1}}</h5>
                                {% else %}
                                    <h5></h5>
                                {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="font-weight-bold reduce-font-size">Address 2</h5>
                                </td>
                                <td>
                                {% if profile.default_street_address2 %}
                                    <h5 class="reduce-font-size">{{profile.default_street_address2}}</h5>
                                {% else %}
                                    <h5></h5>
                                {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="font-weight-bold reduce-font-size">Town or City</h5>
                                </td>
                                <td>
                                {% if profile.default_town_or_city %}
                                    <h5 class="reduce-font-size">{{profile.default_town_or_city}}</h5>
                                {% else %}
                                    <h5></h5>
                                {% endif %}
                                
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="font-weight-bold reduce-font-size">County</h5>
                                </td>
                                <td>
                                {% if profile.default_county %}
                                    <h5 class="reduce-font-size">{{profile.default_county}}</h5>
                                {% else %}
                                    <h5></h5>
                                {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="font-weight-bold reduce-font-size">Postcode</h5>
                                </td>
                                <td>
                                    {% if profile.default_postcode %}
                                        <h5 class="reduce-font-size">{{profile.default_postcode}}</h5>
                                    {% else %}
                                        <h5></h5>
                                    {% endif %}
                                </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5 class="font-weight-bold reduce-font-size">Country</h5>
                                    </td>
                                    <td>
                                        {% if profile.default_country %}
                                            <h5 class="reduce-font-size">{{profile.default_country}}</h5>
                                        {% else %}
                                            <h5></h5>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5 class="font-weight-bold reduce-font-size">Phone number</h5>
                                    </td>
                                    <td>    
                                    {% if profile.default_phone_number %}
                                        <h5 class="reduce-font-size">{{profile.default_phone_number}}</h5>
                                    {% else %}
                                        <h5></h5>
                                    {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5 class="font-weight-bold reduce-font-size">Email Address</h5>
                                    </td>
                                    <td>
                                    {% if profile.default_email %}
                                        <h5 class="reduce-font-size">{{profile.default_email}}</h5>
                                    {% else %}
                                        <h5></h5>
                                    {% endif %}
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        
            <div class="col-12 col-lg-6 background-grey">
                <h3 class="reduce-font-size font-weight-bold mt-2" >Order History</h3>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                {{ item.product.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>£{{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}



    