{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="header-section text-center">
        <div class="container ">
            <div class="py-5 title">
                <h1>Register as a Hiring Manager </h1>  
            </div>
        </div>
    </div>
    <div class="container text-center h-100">
        <div class=" mx-4 my-5">
            <div class="col background-grey px-3 py-3">
                <img class="card-img-top img-fluid icon-size-talent" src="{{ MEDIA_URL }}hiring_manager.png" alt="subscribe image"> 
            </div>
        </div>
        <div class=" mx-4 my-5">
            <h2>*For a limited time only, subscribe now for free! </h2><br> 
            <h6>*Subject to availability and offer expiry.</h6>
            <a href="{% url 'register_hiring_manager' %}" class="btn btn-dark btn-white-txt btn-lg cta my-5" >Subscribe</a>
        </div>
    </div>     
{% endblock %}
