{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="header-section text-center">
    <div class="container ">
        <div class="py-5 title">
            <h1>{{ title }} Skill </h1>  
        </div>
    </div>
</div>


<div class="container">
    <div class="row mx-4 my-4 justify-content-md-center">
        <div class="col-lg-6 col-md-6 col-sm-12 background-grey">
        
            <form class="mt-3"  method="POST" >
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-dark btn-white-txt cta my-4 ">Submit</button>
                <a href="{% url 'display_profile' %}" class="btn btn-dark btn-white-txt cta my-4">Back</a>
                </div>
            </form>
           
        </div>
        
    </div>
    <div class="my-3 text-center">
        <img class="" src="{{ MEDIA_URL }}skills-profile.png" alt="skills image"> 
    </div>
</div>

        
{% endblock %}
