{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="header-section text-center my-5">
        <div class="container">
            <div class="py-5  title ">
                <h1>Talent Center</h1>
                <h3>Unlimited recruitment at an affordable price</h3>  
            </div>
        </div>
    </div>
    <div class="container">
        <!--Title and description-->
        <div class="text-center mx-auto">
            <h3>Looking for a quick, easy, and cost-effective recruitment solution?</h3>
            <p>Our members are junior developers looking for entry level tech roles, fresh out of boot-camp with the latest skills and toolsets.<br>
            Scale up your teams on a tight budget, engage with new junior developer talent with immediate availability by subscribing to our Talent Centre.<br>
            Sign up for £150 per month to view talent profiles and connect with unlimited candidates directly
            </p>
        </div>
        <h3 class="text-center mx-auto font-weight-bold">
            Limited time offer<br>
            Subscribe now for free! 
        </h3>  
        <div class="group mt-4 mb-5">
            <div class="item line pb-1"></div>
            <h3 class="item text logo-font">Benefits</h3>
            <div class="item line pb-1"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="card col-12 col-sm-6 px-3 pb-3 border-0"> 
                    <div class="col-auto my-3 mx-auto text-center">
                        <img class="card-img-top img-fluid icon-size" src="{{ MEDIA_URL }}piggy-bank.png" alt="engage image"> 
                    </div>
                    <div class="col-sm-12">
                        <div class="card-block px-2 text-center">
                            <h4 class="card-title">Best Ever Value</h4>
                            <p class="card-text">Cut your cost per hire, hire unlimited candidates for one fixed fee and save thousands on expensive recruitment fees by subscribing to our Talent Centre.</p>
                        </div>
                    </div>
                </div>
                <div class="card col-12 col-sm-6 px-3 pb-3 border-0">
                    <div class="col-auto my-3 mx-auto text-center">
                        <img class="card-img-top img-fluid icon-size " src="{{ MEDIA_URL }}engage.png" alt="engage image"> 
                    </div>
                    <div class="col-sm-12">
                        <div class="card-block px-2 text-center">
                            <h4 class="card-title">Recruit When You Want</h4>
                            <p class="card-text">                                
                                Access unlimited new talent and candidates every day. Connect and recruit as and when you need to throughout your subscription, enabling you to scale up fast.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="card col-12 col-sm-6 px-3 pb-3 border-0">
                    <div class="col-auto my-3 mx-auto text-center">
                        <img class="card-img-top img-fluid icon-size " src="{{ MEDIA_URL }}recruiter.png" alt="engage image"> 
                    </div>
                    <div class="col-sm-12">
                        <div class="card-block px-2 text-center">
                            <h4 class="card-title">Engagement</h4>
                            <p class="card-text">Expect our candidates to be as excited about your start-up as you are. Fusing passion with expertise we create meaningful relationships by connecting you to new candidates.</p>
                        </div>
                    </div>
                </div>
                <div class="card col-12 col-sm-6 px-3 pb-3 border-0">
                    <div class="col-auto my-3 mx-auto text-center">
                        <img class="card-img-top img-fluid icon-size " src="{{ MEDIA_URL }}inclusion.png" alt="engage image"> 
                    </div>
                    <div class="col-sm-12">
                        <div class="card-block px-2 text-center">
                            <h4 class="card-title">Diversity & Inclusion</h4>
                            <p class="card-text">
                                Inclusion breeds innovation! Recruit new candidates, rich in diversity from our wide talent pool. Junior Dev Talent embraces and celebrates our differences, backgrounds, experiences, and ways of thinking with our inclusive culture. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <div class="text-center mb-5">
            <a href="{% url 'profile_type' %}" class="btn btn-dark btn-lg btn-white-txt cta mt-4">Sign up for free now!</a> 
        </div>
    </div>
{% endblock %}