{% load static %}

<div class="px-4 py-4 ">
    <div class="container mt-4 text-center ">
        <div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <br>
            <h2 class="card shadow py-2 strong">Visit the Growth Hub Shop</h2> 
        </div>
        <!--Growth hub section-->    
        <div class="card-deck mt-4">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 mx-auto">
                <img class="card-img-top img-fluid icon-size" src="media/online-course.png" alt="courses images"> 
                <div class="card-body">
                    <p class="card-text">Courses</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 mx-auto">
                <img class="card-img-top img-fluid icon-size" src="media/mentor.png" alt="Mentorships image"> 
                <div class="card-body">
                <p class="card-text">Mentorships</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 mx-auto">
                <img class="card-img-top img-fluid icon-size" src="media/resume.png" alt="cv writing image"> 
                <div class="card-body">
                <p class="card-text">CV Writing</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 mx-auto">
                <img class="card-img-top img-fluid icon-size" src="media/event.png" alt="events image"> 
                <div class="card-body">
                <p class="card-text">Events</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center py-4 mt-4 background-grey">
        <h4 class="mx-4">Visit our Growth Hub Shop and power your potential with our selection of courses, mentor programmes, tools and events</h4>  
        <a href="{% url 'products'%}" class="btn btn-dark btn-white-txt cta mt-4" role="button" aria-pressed="true">Shop now</a>
    </div>
</div>