<div class="px-4 py-4 ">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="container mt-4 text-center ">
        <!--Talent Center section-->
        <div>
            <br>
            <h2 class="card shadow py-2 strong btn-blue">Talent Center</h2> 
        </div>
        <div class="card-deck mt-4">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 card-back">
                <img class="card-img-top img-fluid icon-size" src="{{ MEDIA_URL }}subscribe.png" alt="subscribe image"> 
                <div class="card-body">
                    <p class="card-text">Subscribe to discover new talent first</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 card-back">
                <img class="card-img-top img-fluid icon-size" src="{{ MEDIA_URL }}talent-search.png" alt="Find Talent image"> 
                <div class="card-body">
                    <p class="card-text">Headhunt</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 card-back">
                <img class="card-img-top img-fluid icon-size" src="{{ MEDIA_URL }}contact.png" alt="Contact image"> 
                <div class="card-body">
                    <p class="card-text">Contact candidates</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center py-4 mt-4 card-back modal-center">
        <h4 class="mx-4">Subscribe to Junior Dev Talent to find your next superstar</h4> 
        <a {% if request.user.user_profile.is_hiring_manager %} href="{% url 'talent_center' %}" {% else %} href="{% url 'subscription' %}" {% endif %} class="btn btn-dark btn-white-txt cta mt-4">Start Now</a>
    </div> 
</div>
