{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'forum/css/forum.css' %}">

{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="container col-lg-8 col-md-10">

    <h2 class="logo-font text-center">Room Topic</h2>
    <div class="row justify-content-center text-center mx-auto">
        <h5>Make learning a community activity.  Our forum is the perfect place to ask questions, share tips and get clarity from fellow people</h5>
    </div>
   
    <div class="group mt-4 mb-2">
        <div class="item line pb-1"></div>
        <h5 class="item text logo-font">{{ topic }}</h5>
        <div class="item line pb-1"></div>
    </div>
   

    
    {% for post in post_list %}
        <div class="card mb-2 mt-2 card-post ">

            <div class="card-body px-2 pt-2 rounded">
                <a href="" class="card-links" aria-label="Go to post">
                <h5 class="post-color">{{ post.title|title }}</h5>
                </a>
                <hr>
                <div class="post-details-color">
                    
                    <i class="far fa-comment"></i>
                    <span class="mr-1"> 55 </span>
                    <span class="mr-2"> Posted by {{post.user_name}}</span>
                    <span class="mr-2"> Created {{post.created|timesince }} ago</span>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}