{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'forum/css/forum.css' %}">

{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block title %} Edit post {% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <div class="container ">    
        <h2 class="logo-font text-center"> Room topic: {{ post.topic }}</h2>
    
        <div class="row justify-content-center text-center mx-auto">
            <h5>Make learning a community activity.  Our forum is the perfect place to ask questions, share tips and get clarity from fellow people</h5>
        </div>
    
        <div class="group mt-4 mb-2">
            <div class="item line pb-1"></div>
            <h5 class="item text logo-font">Update Post</h5>
            <div class="item line pb-1"></div>
        </div>

        <a href="{% url 'forum' %}" class="header-links">
            <h6 class="logo-font"> Back to Forum</h6>
        </a>

        {% if user.id == post.owner.id or request.user.is_superuser %}
        <div class="post-color mb-2 pt-1 pb-1 rounded">
            <div class="col-12">
                <div class="form-group">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% crispy form %}
                    </form>
                </div>
            </div>
        </div>
        {% else %}
            <h4>You can not edit this post</h4>
        {% endif %}
    </div>
{% else %}
    <h4>You are not logged in</h4>
{% endif %}



{% endblock %}