{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/ base.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="header-section text-center">
        <div class="container ">
            <div class="py-5 title">
                <h1>Delete Account </h1>  
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mx-4 my-4 justify-content-md-center">
            <div class="col-lg-6 col-md-6 col-sm-12 background-grey">
                <div class="jumbotron mx-2">
                    <h1 class="display-4">Page Not Found</h1>
                    <p class="lead">Sorry, this page does not exist</p>
                    <hr class="my-4">
                    <p class="lead">
                        <a class="btn btn-dark btn-white-txt cta" href="{% url 'home' %}" 
                        role="button">Home page</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}