{% extends "base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block extra_title %}500 Error{% endblock %}
{% block content %}
    <div class="header-section text-center">
        <div class="container ">
            <div class="py-5 title">
 
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mx-4 my-4 justify-content-md-center">
            <div class="col-lg-6 col-md-6 col-sm-12 background-grey">
                <div class="jumbotron mx-2">
                    <h1 class="display-4">Something went wrong</h1>
                    <p class="lead">Server error - Try a bit later</p>
                    <p class="lead">{{e}}</p>
                    <hr class="my-4">
                    <p class="lead">
                    <a class="btn btn-dark btn-white-txt cta" href="{% url 'home' %}"
                    role="button">Home page</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}