<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown pb-3 ">
            <a class="logo-font font-weight-bold h5 mr-5 mb-2" href="{% url 'forum' %}" id="all-products-link"  aria-haspopup="true" aria-expanded="false">
                Forum
            </a>
                    
        </li>
        <li class="nav-item dropdown  pb-3">
            <a class="logo-font font-weight-bold h5 mr-5 mb-2" href="{% url 'products' %}" id="all-products-link"  aria-haspopup="true" aria-expanded="false">
                Growth Hub
            </a>
          
        </li>
        <li class="nav-item dropdown pb-3">
            <a class="logo-font font-weight-bold h5 mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Talent Center
            </a>
          
        </li>

    </ul>
</div>
