{% if request.user.is_authenticated %}
    <div class="col-12 col-md-4 my-auto py-1 py-lg-0">
        <form method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control border border-blue logo-font rounded-0" type="text" name="q" placeholder="Search our Growth hub store">
                <div class="input-group-append">
                    <button class="form-control btn border-blue rounded-0 logo-font" type="submit">
                        <span class="icon">
                          
                            <i class="fas fa-regular fa-magnifying-glass"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endif %}