
{% load static %}

<div class="container px-4 py-4 ">
    <h1 class="mb-5">Useful membership organizations to join</h1>
    <h6 class="mb-5">Associations provide further opportunities to engage with likeminded junior developers and peers, who all share common interests, and face the same challenges. We have recommended some of our favourite tech associations below for engaging content, resources in helping you reach your professional goals, including interactive member events for extending your professional network and much more… </h6>
    <a href="https://ukie.org.uk/" target="_blank"  aria-label="The trade association for the UK’s games and interactive entertainment industry link" class="footer-links">
        The trade association for the UK’s games and interactive entertainment industry  
    </a>
    <br>
    <a href="https://www.techuk.org/" target="_blank"  aria-label="The UK’s technology trade association link" class="footer-links">
        The UK’s technology trade association  
    </a>
    <br>
    <a href="https://www.bcs.org/" target="_blank"  aria-label="The Charted Institute of IT link" class="footer-links">
        The Charted Institute of IT  
    </a>
    <br>
    <a href="https://bima.co.uk/" target="_blank"  aria-label=" The British Interactive Media Association link" class="footer-links">
        The British Interactive Media Association  
    </a>
    <br>
    <a href="https://www.techworks.org.uk/" target="_blank"  aria-label=" The British Interactive Media Association link" class="footer-links">
        The UK’s Deep Tech Hub  
    </a>
</div>
   