{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}

<div class="container background-grey card shadow pt-2 pb-2 mb-4">
  <hr >
    <h2 class="logo-font text-center ">{% trans "Sign Out" %}</h2>
  <hr>
  <p>{% trans 'Are you sure you want to sign out?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn-dark btn-white-txt cta" type="submit">{% trans 'Sign Out' %}</button>
  </form>
</div>

{% endblock %}
