{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<div class="container background-grey card shadow pt-2 pb-2 mb-4">
  <hr >
    <h2 class="logo-font text-center ">{% trans "Sign Up" %}</h2>
  <hr>

  <p>{% blocktrans %}Already have an account? Then please
    <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
  </p>

  <form class="signup mb-2" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-secondary" type="submit">{% trans "Sign Up" %}
      &raquo;</button>
  </form>
</div>
  {% endblock %}