.card-horizontal {
    display: flex;
    flex: 1 1 auto;
   
  }


  .img-thumbnail{
    width:80%;
    border:0;
  
  }
  .width-size{
    width:20%;
    text-align: center;
    margin: auto;
  }

/* Header search section  */
.header-section {
  background-color: #00447C;
  color:white;
}

/* add skill badge  */
.add-skill-badge:link,
.add-skill-badge:visited,
.add-skill-badge:active,
.add-skill-badge:focus{
    color: #00447C;
    background-color:#fed5a4;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.add-skill-badge:hover {
    color: #fed5a4;
    background-color:#00447C;
  }